.problem-main {
    padding: 0 6.25rem ;
}
.problem-main h2{
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
color: #023856;
padding: 40px 0;
}

.problem-main img{
    width: 100%;
    padding: 4.5rem 0;
}

@media (max-width: 768px) {
    .problem-main {
        padding: 0 1.25rem;
    }
    .problem-main h2{
        /* font-family: Gilmer; */
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: left;
        
    }
    
}