.works-mid{
    padding: 100px 0;
}

.works-mid img{
    width:120px ;

}

.works-mid p{
    width: 280px;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: center;
color: #023856;
padding: 24px 0;
}

.works-mid-padding{
    padding-top: 150px;
}
.how-works-btn{
    background: #43B95D;
    color: var(--white);
    width: auto;
    margin: auto;
    height: 60px;
    padding: 20px 32px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    word-spacing: 8px;
  }
  

@media (max-width:992px) {
    .works-mid-padding{
        padding-top: 0;
    } 
    
    .works-mid{
        padding: 0;
    }
.how-work-main>h1{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.how-works-btn{
width: 100%;
}
}
