.main-content {
  /* width: calc(100%-300px); */
  width: 100%;
}
.profile-main {
  display: flex;
  gap: 4px;
  height: 100%;
  width: 100%;
  background-color: #f6f6fe;
}
.sidebar-main {
  position: static;
  width: 283px;
  /* height: 100%; */
  background-color: white;
  /* height: 100vh;    */
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #ffffff;
  /* transform: translate(-100%); */
}
.sidebar-main .header-logo img {
  width: 207.95px;
  height: auto;
  margin-left: -25px;
}
.sidebar-main .header-logo-box a {
  height: auto;
}
.logout {
  /* position: absolute; */
  bottom: 0;
  padding-bottom: 24px;
}

.sidebar-main li {
  padding: 10px 0 10px 18px;
  cursor: pointer;
}
.sidebar-main li:hover {
  /* padding: 10px 16px; */
  border-radius: 12px;
  background-color: #f6f6fe;
}
.sidebar-main ul {
  display: flex;
  flex-direction: column;
  /* padding: 17px 22px; */
  padding-top: 10px;
  gap: 10px;
}
.sidebar-main i {
  cursor: pointer;
  font-size: 20px;
  color: #023856;
}
.sidebar-main h2 {
  /* font-family: Gilmer; */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #023856;
}

/* *****************AppointmentSideBar********************** */

.appointment-main .sidebar-main{
  position: absolute;
  right: 0px;
  /* height: 100vh; */
  gap: 72px;
  width: 333px;
  z-index: 556;
}

.appointment-main .sidebar-main i{
  color: #43B95D;
}
.appointment-main .sidebar-main li{
  padding: 6px 0 6px 18px ;

}

.appointment-main .fa-at{
  color: #575875 !important;
  font-size: 16px;
}
.appointment-main  .counseler-username{
  color: #575875;

font-size: 14px;
font-weight: 600;
line-height: 18px;
text-align: left;

}

.appointment-main .termcheck{
  padding: 6px 0 6px 18px;
  gap: 16px;
font-size: 14px;
font-weight: 600;
line-height: 18px;
text-align: left;

}

.appointment-main .ctabanner-btn{
  background: #023856;
  color:white;
  height: 60px;
  padding: 20px 32px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 54px;
}

.appointment-main .session-history{

font-size: 20px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #10131D;
margin-bottom: 22px;

}

.appointment-main .search-history-box{
  margin-bottom: 18px;
}

.appointment-main .search-history-box p{

font-size: 14px ;
font-weight: 600;
line-height: 18px;
text-align: left;
color: #575875;
}
@media (max-width: 625px) {
  .sidebar-main {
    width: 100%;
    position: absolute;
    z-index: 5;
    height: inherit;
  }
}
@media (max-width: 625px) {

  .sidebar-main{
    position: fixed;
    z-index: 55;
  }
}
