.hero-main {
  /* height: 100vh; */
  /* background-image: url("../../../assets/images/mountain.jpg"); */
  /* max-height: 797px; */
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-left h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5rem;
}
.hero-left .span-ball {
  background: #62cf6e;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.hero-left > p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #575875;
  padding: 3.3125rem 0;
}

.hero-btn-box {
  display: flex;
  align-items: center;
  gap: 3.1875rem;
}

.hero-btn-box p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #575875;
  /* padding: 3.3125rem 0; */
}

.price-content span {
  display: inline-block;
  font-weight: 400;
}
.ctabuttonStyle {
  background: #2fa2c6;
  color: var(--white);
  width: 203px;
  height: 60px;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

/* ***********hero-right************** */

.hero-right {
  aspect-ratio: 1;

  position: relative;
  /* width: 32.6875rem; */
  max-width: 32.6875rem;
  max-height: 32.6875rem;
  margin-top: -40px;
  border-radius: 50%;
  border: 3px dashed grey;
  background: #62CF6E;
  padding: 30px!important;
  
}

.hero-right img{
  width: 70%!important;
  aspect-ratio: 1;
  margin: auto;
  /* padding: 30px!important; */

}

.videocall-icon , .message-icon{
  position: absolute;
  color: white;

  width: 5rem;
  height: 5rem;
  background: #023856;
  font-size: 25px;
  border-radius: 50%;
}
.videocall-icon{
  top: 28px;
  left: 24px;
}

.message-icon{
  bottom: 10px;
  right: 48px;
}
.hero-right img {
  width: 100%;
  background: center;
}

.verify-box{
  position: absolute;
  width: 15.75rem;
height: 6.5rem;
bottom: 50px;
left: -46px;
padding: .875rem 1rem ;
gap: 12px;
border-radius: 15px ;
border: 2px 0px 0px 0px;
background: white;
display: flex;
flex-direction: column;
gap: 10px;
}

.verify-therapist{
  display: flex;
  align-items: center;
  color: #023856;
  gap: .625rem;
}
.verify-box p{
font-size: 1rem;
font-weight: 700;
line-height: 19.2px;
text-align: left;

}
.verify-therapist>i{
  position: relative;
  display: flex;
  align-items: center;
font-size: 2rem;  
}
.verify-therapist>i>i{
position: absolute;
color: white;
font-size: .625rem;
}

.fa-shield{
  color: #62CF6E;
  
}
/* *******************.hero-cta************** */
.hero-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 48px; */
  padding: 48px 56px;
  border-radius: 20px;
  max-width: 1240px;
  margin: auto;
  background: #023856;
  margin-top: 225px;
}

.hero-cta p {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  text-align: left;
  color: white;
}

.hero-cta div {
  max-width: 50px;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  padding: 1rem 1.25rem;
}

@media (max-width: 730px) {
  .hero-left h1 {
    font-size: 44px;
    font-weight: 600;
    line-height: 46.2px;
    text-align: left;
  }
  .hero-left p {
    text-align: left;
    /* padding: 20px 0; */
  }
  .span-ball {
    width: 36px !important ;
    height: 36px !important ;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-cta {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    margin-top: 60px;
  }
  .hero-cta button {
    text-align: center;
    max-width: 100%;
  }
  .hero-cta div {
    display: none;
  }

  .hero-cta p {
    font-size: 18px;
    line-height: normal;
  }
  .hero-left > p {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
  }

  .hero-btn-box {
    width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .ctabuttonStyle {
    width: 100%;
    padding: 15px 40px;
  }

  .videocall-icon , .message-icon{
max-width: 3rem;
max-height: 3rem;
  }
  .verify-box{
    width: auto;
  left: -15px;
  bottom: 20px;
  }
}
