.questionnaire-main {
  padding-top: 0 !important;
  background-image: url("../../../assets/images/questionaire/backRegister.png");
background-repeat: no-repeat;
background-size: cover;
height: auto;
}

.progress-custom{
  font-size: 39px;
  margin: 3px;
  font-weight: 400;
  color: #e7e7e7;
}
.step-title-wrap .quest-number {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #62cf6e;
  padding: 16px 0;
}

/* *************************** */

.questionnaire-main .rating-icon-box {
  padding-top: 40px !important;
  max-width: 610px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .column {
    display: flex !important;
    flex-direction: row;
    justify-content: start !important;
  }
}

.questionnaire-main .rating-icon {
  padding: 18px 22px;
  border: 1px solid #dadada;
  border-radius: 20px;
  /* width: 100%; */
  height: auto;
  display: flex !important;
  gap: 1.125rem;
}

.col-6-custom {
  width: 49%;
}
.Q3{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.col-3-custom{
  width: 23%;
}

.col-4-custom{
  width: 32%;
}
.questionnaire-main .rating-icon-box{
max-width: 1070px; 

}

.questionnaire-main .rating-icon:hover  {
  background: #43b95d;
  color: white;
  cursor: pointer;
}


.rating-icon input{
  border: 1px solid #dadada;
  border-radius: 20px;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}
.hover-none{
  background: white !important;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.check-green{
  background: #43b95d;
  color: white;
}

.questionnaire-main .rating-icon i {
  font-size: 20px; 
   color:  #023856;
   border-radius: 6px !important;
}

.questionnaire-main .rating-icon p {
  border: none;
  padding: 0;
  color: #023856;
}

.questionnaire-main .rating-icon:hover {
  color: white;
}


.back-btn {
  color: #023856 !important;
  font-size: 18px !important;
  opacity: 50%;
}

.next-question-btn {
  background: var(--dark-blue);
  color: var(--white);
  width: max-content;
  height: auto;
  padding: 20px 50px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.rating-icon-box select,
.rating-icon-box textarea  {
  margin: auto;
  background: #fff;
  height: 60px;
  font-size: 22px;
  color: #023856;
  border: 1px solid #ebebff;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  display: inline-block;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  appearance: none;
  outline: none;
}


.rating-icon-box textarea {
  height: 200px;
}
@media (max-width: 888px) {
  
  .col-6-custom {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .rating-icon-box select {
    width: 100% !important;
  }

  .progress-custom{
    font-size: 27px;
  }
  .step-title.h32 {
    font-size: 24px;
  }

  .col-3-custom{
    width: 100%;
  }
  .col-6-custom {
    width: 100%;
  }
  .col-4-custum{
    width: 100%;
  }

  .next-question-btn{
    padding: 12px 18px;
  }
}
