.whyus-main .list-item-content {
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dadada;
  /* width: 285px; */
}

.whyus-main .bottom-bor {
  border-bottom: 1px solid #dadada;
}

.whyus-main .p-box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.whyus-main .p-box :nth-child(2){
font-size: 16px;
font-weight: 600;
line-height: 24px;
text-align: left;
color: #575875;
}
.whyus-main .icon {
  font-size: 1.5rem;
  margin-top: 10px;
}

.whyus-main .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 85px;
}

.whyus-main .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}


.whyus-main .text {
  font-size: 18px;
}

.whyus-img {

  max-width: 431.14px;
  max-height: 474px;
}

.whyus-main .main button {
  background: var(--button-green);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  /* color: var(-); */
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  outline: none;
  margin-top: 60px;
  text-align: left;
}
