
.feedback-form-main{
    width: 100%;
    padding: 4.5rem 0 ;
}

.feedback-form-main form div{
    display: flex;
    flex-direction: column;
padding-bottom: 10px;
}

.feedback-form-main label{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: #023856;
    padding: 8px 0;
}

.feedback-form-main input , .feedback-form-main textarea{
padding: 14px;
border-radius: 10px;
border:  1px solid #EBEBFF;
outline: none;
}

.checkbox{
    display: flex;
    flex-direction: row !important;
    gap: 14px;
}

